img {
	width: 420px;
	height: 580px;
}

#a1 {
	opacity: 0;
}

div {
	width: 420px;
	height: 580px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform-style: preserve-3d;
	transition: all 12s;
	background: url(../img/img2.jpg);
	background-size: 100% 100%;
}

div img {
	position: absolute;
}

div img:nth-child(1) {
	transform: translateZ(500px);
}

div img:nth-child(2) {
	transform: rotateY(60deg) translateZ(500px);
}

div img:nth-child(3) {
	transform: rotateY(120deg) translateZ(500px);
}

div img:nth-child(4) {
	transform: rotateY(180deg) translateZ(500px);
}

div img:nth-child(5) {
	transform: rotateY(240deg) translateZ(500px);
}

div img:nth-child(6) {
	transform: rotateY(300deg) translateZ(500px);
}

div:hover {
	transform: rotateY(720deg) rotateX(45deg);
}
